.title{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding-left: 10%;
    h1{
        font-family: 'Jockey One', sans-serif ;
        font-size: 50px;
        display: flex;
        flex-direction: row;
        margin-bottom: 0;
        p{
            font-size: 30px;
            margin-top: 0.75em;
            padding-left:0.5em ;
            padding-right: 0.5em;
            margin-bottom: 0;
        }
    }
    .founder{
        font-family: 'Courier New', Courier, monospace;
        padding-bottom: 15em;
        margin-top: 0;
        margin-left: 0.5%;
    }
}

.titletop{
    display: flex;
    flex-direction: row;
    padding-top: 3%;

    .imglogo{
        width: 20%;
        margin-top: 8%;
        padding-right: 2%;
    }
    .noirblanc{
        margin-right: 10%;
    }
}



@media (max-width:400px ){
.title{
    padding-left: 10%;
    h1{
        font-size: 30px;
        p{
            font-size: 15px;
            margin-top: 1.05em;
        }
    }
    .founder{
        font-size: 13px;
        margin-bottom: 0;
        padding-bottom: 0;
    }
}

.titletop{
    display: flex;
    flex-direction: column;
    padding-top: 0;

    .imglogo{
        width: 100%;
        margin-top: 0;
        margin-right: auto;
        margin-left: auto;
    }
    .noirblanc{
        margin-left: 10%;
        margin-right: auto;
        width: 100%;
    }
}
}