.description{
margin: 2em;
border-radius: 1em;
font-family: 'Jockey One', sans-serif ;
    
    .traits{
        display: flex;
    }
    .trait{
        padding: 2px;
        background-color: black;
        margin-bottom: 4em;

        margin-right: 60em;
    }
    .traitcoter{
        background-color: black;
        padding: 2px;
    }
    h1{
        font-size: 50px;
        margin-left: 1.2em;
    }
    .text{
        font-size:30px;
        margin-top: -2em;
        margin-left: 2em;
        display: flex;
        p{
            margin-right: 3em;
        }
    }
}

.titre{
    font-family: 'Jockey One', sans-serif ;
    font-size: 60px;
    margin-left: 1em;
    display: flex;

    .jaunne{
        background-color: rgb(250, 213, 100);
        padding: 3px;
        margin-bottom: 0.3em;
    }
    
    .bleu{
        padding: 3px;
        background-color: rgb(11, 116, 207);
        margin-right: 5px;
        margin-bottom: 0.3em;
    }
}
.soustitre{
    font-family: 'Island Moments', cursive;
    font-size: 40px;
    font-style: italic;
    margin-left: 6em;
    margin-top: -1.8em;
    padding-bottom: 1em;
}